# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

Renaming the the column names is needed, doen as follows:

In [3]:
jeopardy_df = pd.read_csv('jeopardy.csv')

jeopardy_df = jeopardy_df.rename(columns = {" Air Date": "Air Date", " Round":"Round", " Category": "Category", " Value": "Value", " Question": "Question", " Answer": "Answer"})
print("Testing Printing Specific Column")
print(jeopardy_df['Air Date'])
print(jeopardy_df)

Testing Printing Specific Column
0         2004-12-31
1         2004-12-31
2         2004-12-31
3         2004-12-31
4         2004-12-31
             ...
216925    2006-05-11
216926    2006-05-11
216927    2006-05-11
216928    2006-05-11
216929    2006-05-11
Name: Air Date, Length: 216930, dtype: object
        Show Number    Air Date             Round  \
0              4680  2004-12-31         Jeopardy!
1              4680  2004-12-31         Jeopardy!
2              4680  2004-12-31         Jeopardy!
3              4680  2004-12-31         Jeopardy!
4              4680  2004-12-31         Jeopardy!
...             ...         ...               ...
216925         4999  2006-05-11  Double Jeopardy!
216926         4999  2006-05-11  Double Jeopardy!
216927         4999  2006-05-11  Double Jeopardy!
216928         4999  2006-05-11  Double Jeopardy!
216929         4999  2006-05-11   Final Jeopardy!

                               Category     Value  \
0                               HISTORY      $200
1       ESPN's TOP 10 ALL-TIME ATHLETES      $200
2           EVERYBODY TALKS ABOUT IT...      $200
3                      THE COMPANY LINE      $200
4                   EPITAPHS & TRIBUTES      $200
...                                 ...       ...
216925                   RIDDLE ME THIS     $2000
216926                        "T" BIRDS     $2000
216927           AUTHORS IN THEIR YOUTH     $2000
216928                       QUOTATIONS     $2000
216929                   HISTORIC NAMES  no value

                                                                                                                      Question  \
0                             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1                  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4                     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
...                                                                                                                        ...
216925                                              This Puccini opera turns on the solution to 3 riddles posed by the heroine
216926                 In North America this term is properly applied to only 4 species that are crested, including the tufted
216927               In Penny Lane, where this "Hellraiser" grew up, the barber shaves another customer--then flays him alive!
216928  From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return"
216929                 A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great

                                Answer
0                           Copernicus
1                           Jim Thorpe
2                              Arizona
3                           McDonald's
4                           John Adams
...                                ...
216925                        Turandot
216926                      a titmouse
216927                    Clive Barker
216928                        Geronimo
216929  Grigori Alexandrovich Potemkin

[216930 rows x 7 columns]

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `"Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [29]:
# Filtering a dataset by a list of words
def words_filter(data, input_list):
    # The filter will return true if all the words in input_list are in the data
    filter = lambda x: all(word in x for word in input_list)
    # Return the value in DataFrame format. This will help we have an option to filter specific columns out for readable purposes
    return data.loc[data["Question"].apply(filter)]
    


# Testing the filter function
filtered = words_filter(jeopardy_df, ["King", "England"]) 
print(filtered["Question"]) # Return specific column - column "Question"

4953                                                                                                                                                                                                                                                                      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
14912                                                                                                                                                                                                                                                            This country's King Louis IV was nicknamed "Louis From Overseas" because he was raised in England
21511                                                                                                                                                                                                                                                                                 this man and his son ruled England following the execution of King Charles I
23810                                                                                                                                                                                                                                                         William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year
27555                                                                                                                                                                                                                                                                           This member of the Medici family was the mother-in-law of England's King Charles I
33294                 (Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.)  Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href="http://www.j-archive.com/media/2008-12-18_J_08.jpg" target="_blank">Stigant</a>, this archbishop, who performed the ceremony
41148                                                                                                                                                                                                                                    This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick
41357                                                                                                                                                                                                                                                     England's King Henry VIII had 3 wives named Catherine:  Catherine Howard, Catherine of Aragon & this one
43122                                                                                                                                                                                                                                                                                                                       The father of England's King Edward VI
47814                                                                                                                                                                                                                                                                                                   This steak sauce was created for King George IV of England
49994                                                                                                                                                                                                                                                                       Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553
51115                                                                                                                  (<a href="http://www.j-archive.com/media/2000-03-02_J_22.jpg" target="_blank">Alex Trebek reads from England.</a>)  In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter
51565                                                                                                                                                                                                                                                 He wrote several anthems, including "The King Shall Rejoice", for the coronation of England's King George II
56600                                                                                                                                                                                                                                                              This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133
57516                                                                                                                                                                                                                                                                                         Famous (& rather insulting) adjective for England's King Ethelred II
58949                                                                                                                                                                                                                                                                        He became King of England in 1399 after forcing his cousin Richard II from the throne
71808                                                                                                                                                                                                                                                                                      Number of the William who was England's "Sailor King" from 1830 to 1837
74235                                                                                                                                                                                                                                                                     Barons & churchmen drew up this 1215 document to reduce the power of England's King John
77195                                                                                                                                                                                                                                                          He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field
79457                                                                                                                                                                                                                                              On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings
80113                                                                                                                                                                                                                                                                                                England's King Charles II was known by this "jovial" nickname
84639                                                                                                                                                                                                                                                                            He went from second banana on "Roseanne" to top banana of England in "King Ralph"
86412                                                                                                                                                                                                                                                                         This country's King Olaf V was born in England & was the grandson of King Edward VII
89710                                                                                                                                                                                                                                                            This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign
111926                                                                                                                                                                                                                                                   It begins "John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine...."
118809                                                                                                                                                                                                                                                                                            In French this King of England is called Guillaume le Conquerant
123299                                                                                                                                                                                                                                                                     If you want to be crowned King of England, this rock has to be in your coronation chair
123671                                                                                                                                                                                                                                                                                                                              King Henry VII of England dies
125822                                                                                                                                                                                                                                                                                              Famous nickname of the eldest son of England's King Edward III
127484                                                                                                                                                                                                                                                                Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country
127758                                                                                                                                                                                                                                                                                  This state was named for the King of England who reigned from 1727 to 1760
129106                                                                                                                                                                                                                                                              King Edward I of England, who fought William Wallace, had this nickname relating to his height
130208                                                                                                                                                                                                                                                                                    This "Sun King" sniffed, "England is a little garden full of sour weeds"
137818                                                                                                                                                                                                                                                                                        The last King William to rule England had this number after his name
143434                                                                                                                                                                                                                                                                This Flemish artist painted a unique triple portrait of England's King Charles I around 1637
150880                                                                                                                                                                                                                                                                                       During Stanley Baldwin's term as P.M., this King of England abdicated
165110                                                                                                                                                                                                                                                        The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I
165197                                                                                                                                                                                                                                                       The "Angel of Hadley" is said to have saved a New England town during the war with this Indian "King"
170007                                                                                                                                                                                                                                                                In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England
174055                                                                                                                                                                                                                                                                                            This conqueror was crowned King of England on Christmas Day 1066
175259                                                                                                                                                                                                                                                                                                          His short reign as King of England fell in in 1936
183462                                                                                                                                                                                                                                                            A capital in the West Indies is named for this family name of William of Orange, King of England
186239                                                                                                                                                                                                                                           He was King of England from 1189 to 1199 but spent only 6 months there; the rest of the time, he was off fighting
187651                                                                                                                                                                                                                                                                     This Bahamian capital took its name from the family name of King William III of England
191579                                                                                                                                                                                                                                                                             England's King Harold II lost the all-important Battle of Hastings in this year
192265    (<a href="http://www.j-archive.com/media/2012-01-17_DJ_25.jpg" target="_blank">Sarah of the Clue Crew stands in front of the Royal Palace in Oslo, Norway.</a>) King Harald V lives here, in Norway's Royal Palace. He and his second cousin, England's Queen Elizabeth, are both great-grandchildren of this British king, who ruled from 1901 to 1910.
192966                                                                                                                                                                                                                                                                                                                          England's King _____ _____ R. Luce
194516                                                                                                                                                                                                                                                            The "Monty Python" member who played King Arthur, he ended his grail quest in Maidstone, England
200369                                                                                                                                                                                                                                             8th C. King Offa built a 170-mile north-south dike that still partly marks the border of England & this country
Name: Question, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [14]:
# Another version of the words_filter()
def words_filter(data, input_list):
    # Lowercase all the words in list and the data frame
    filter = lambda x: all(word.lower() in x.lower() for word in input_list)
    # Return the filtered rows in format of a DataFrame include key words
    return data.loc[data["Question"].apply(filter)]
    # .loc[] works as a Boolean. It only filters the rows that returned True as for arguement inside the brackets '[]'
    # data["Question"] is actually 'x' indicated in the assignment of 'filter' lambda above. so all the rows of column "Question" will be scanned if some of them contain keywords in 'input_list'
    
# Testing the upgraded filter function
filtered = words_filter(jeopardy_df, ["King", "England"])
print(filtered["Question"]) 
# Again, since filtered is a DataFrame created by using words_filter(), to access one specific column, it should be written as the above syntax

4953                    Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191                    This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710               This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454                                       It's the number that followed the last king of England named William
                                                           ...
208295        In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742                      Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870                In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021          His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789        This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: Question, Length: 152, dtype: object

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `"Value"` column. But right now, the values in that column are strings. Convert the`"Value"` column to floats. If you'd like to, you can create a new column with float values.

   While most of the values in the `"Value"` column represent a dollar amount as a string, note that some do not &mdash; these values will need to be handled differently!

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [15]:
print(jeopardy_df["Value"].head(50))

0       $200
1       $200
2       $200
3       $200
4       $200
5       $200
6       $400
7       $400
8       $400
9       $400
10      $400
11      $400
12      $600
13      $600
14      $600
15      $600
16      $600
17      $600
18      $800
19      $800
20      $800
21      $800
22    $2,000
23      $800
24     $1000
25     $1000
26     $1000
27     $1000
28     $1000
29      $400
30      $400
31      $400
32      $400
33      $400
34      $400
35      $800
36      $800
37      $800
38      $800
39      $800
40     $1200
41    $2,000
42     $1200
43     $1200
44     $1200
45     $1600
46     $1600
47     $1600
48     $1600
49     $1600
Name: Value, dtype: object

By examining the column 'Value', '$', a special symbol, is always added in the front of all money amount, which will raise errors if the string executed calculations using built-in functions e.g. mean(), so it should be removed.   
Additionally, it is observed that for each step of 1000, one comma (,) will be added to separate units for readable purposes. However, to execute calculations using math operators, we have to create a new column which include neither such special symbols nor commas.  
Lastly, some rows don't include any valuable strings but string "no value". A number '0' should replace that string.  
New column and calculating mean values for specific columns are done as follows.

In [16]:
# Since special symbol '$' is always added in the front of money amount, we just creata a new column by extracting string from index 1 onwards.
# As for removing commas, it is needed to use .replace() function
# The following line will create a new column which satisfy the two conditions above
jeopardy_df["Refined Value"] = jeopardy_df["Value"].apply(lambda x: float(x[1:].replace(',', '')) if x != "no value" else 0)
# 'x' is each value stored in each row of column 'Value'     

# Filtering the dataset with the keyword "King" in the column "Question"
filtered = words_filter(jeopardy_df, ["King"])
# Then, finding the average value of the above filtered DataFrame
print(round(filtered["Refined Value"].mean(), 2)) # With being rounded to 2 decimal numbers

771.88

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [17]:
# 
def unique_answer_count(data):
    return data["Answer"].value_counts()

# Testing the function
print(unique_answer_count(filtered)) 
# variable 'filtered', as a child dataset filters out sets with keyword of 'King' within the column 'Question', was assigned earlier above

Answer
Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
hoe                           1
knee-jerk reaction            1
Copenhagen                    1
"What Kind Of Fool Am I?"     1
Great Britain/England         1
Name: count, Length: 5268, dtype: int64